Package: openstack-dashboard-cloudbase-theme
Source: horizon
Version: 1.1
Architecture: all
Maintainer: Dorin Paslaru <dpaslaru@cloudbasesolutions.com>
Depends: openstack-dashboard (= 2:8.0.0-0ubuntu2~cloud0)
Replaces: openstack-dashboard-ubuntu-theme (<= 2:8.0.0-0ubuntu2~cloud0)
Section: net
Priority: extra
Description: Cloudbase theme for the OpenStack dashboard
 A custom Cloudbase theme for Horizon.  This package is optional and overrides the
 default theme and branding.
