@import "bootstrap/variables";
@import "horizon/variables";
@import "/horizon/lib/font-awesome/scss/variables";

/* Custom Variables */

// $font-size-base: 16px;
$brand-color: #1C2444;
$topbar-link-hover: #346fd4;
$white: #fff;

@import url(http://fonts.googleapis.com/css?family=Oxygen);
